name: Terraform Deploy

on:
  push:
    branches: ["main"]
  pull_request:

permissions:
  contents: read
  id-token: write

jobs:
  terraform:
    name: Terraform
    runs-on: ubuntu-latest
    environment: dev

    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::112367725894:role/GitHub-Terraform-Role
          aws-region: ap-south-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: latest

      - name: Terraform Init
        working-directory: bootstrap
        run: terraform init

      - name: Terraform Format
        working-directory: bootstrap
        run: terraform fmt -check

      - name: Terraform Plan
        working-directory: bootstrap
        run: terraform plan -input=false

      - name: Terraform Apply
        working-directory: bootstrap
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: terraform apply -auto-approve -input=false

      - name: Export Private Key to File
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: |
          terraform output -raw private_key > private_key.pem
          chmod 600 private_key.pem

      - name: Upload Private Key Artifact
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        uses: actions/upload-artifact@v4
        with:
          name: ec2-private-key
          path: private_key.pem