name: Terraform Deploy

on:
  push:
    branches: [ "main" ]
  pull_request:

permissions:
  contents: read
  id-token: write

jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest
    environment: dev

    defaults:
      run:
        shell: bash

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: arn:aws:iam::112367725894:role/GitHub-Terraform-Role
        aws-region: ap-south-1

    - name: Fetch AWS Keys from Secrets Manager
      id: get-secret
      run: |
        SECRET=$(aws secretsmanager get-secret-value \
          --secret-id terraform/github/credentials \
          --query SecretString \
          --output text)
        echo "$SECRET" > secret.json
        echo "AWS_ACCESS_KEY_ID=$(jq -r .AWS_ACCESS_KEY_ID secret.json)" >> $GITHUB_ENV
        echo "AWS_SECRET_ACCESS_KEY=$(jq -r .AWS_SECRET_ACCESS_KEY secret.json)" >> $GITHUB_ENV

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: latest

    - name: Terraform Init
      run: terraform init

    - name: Terraform Format
      run: terraform fmt -check

    - name: Terraform Plan
      run: terraform plan -input=false

    - name: Terraform Apply
      if: github.ref == 'refs/heads/main' && github.event_name == 'push'
      run: terraform apply -auto-approve -input=false